<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="classnav">
        <ul>
            <li><a href= "{% url 'logout' %}">Encerrar Sessão </a></li>
            <li><a href= "{% url 'agendamento' %}">Realizar Agendamento </a></li>
        </ul>
    </div>
<h1> Bem vindo, {{user.get_primeiro_nome}} </h1>
<p>Nome Completo: {{user.nome_completo}}</p>
<p>Data de Nascimento: {{user.get_data_nascimento}}, Idade: {{user.get_idade}}</p>
<p> CPF: {{user.cpf}}</p>

</body>
</html>