<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> Bem vindo, {{user.get_primeiro_nome}} </h1>
    <p><b>Nome Completo:</b> {{user.nome_completo}}</p>
    <p><b>Data de Nascimento:</b> {{user.get_data_nascimento}}, <b>Idade:</b> {{user.get_idade}} anos</p>
    <p> <b>CPF:</b> {{user.cpf}}</p>
        <div class="classnav">
            <li><a href= "{% url 'buscar_agendamentos' %}">Realizar Agendamento </a></li>
            <li><a href= "{% url 'logout' %}">Encerrar Sessão </a></li>
        </div>
</body>
</html>